@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap');

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Chakra Petch', sans-serif;
  background-color: black; /* ou white, ou outra cor */
}

:root {
  --cor-principal: #6E859F;
  --cor-secundaria: #1080d1;
  --cor-destaque: #C928FC;
}

h1, h2, h5 {
  color: var(--cor-secundaria);
  font-weight: 700;
}

footer a {
  color: var(--cor-principal);
}

footer a:hover {
  color: var(--cor-destaque);
}

body.modal-open {
  overflow: hidden;
}
.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-img-top {
  object-fit: cover;
  height: 200px; 
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
/* Estilo personalizado para o modal */
.modal-content {
  background-color: #000;
  color: white;
  border-radius: 12px;
  padding: 1.5rem;
  text-align: center;
  border: 1px solid var(--cor-secundaria);
}
.footer-fixo {
  position: relative;
  z-index: 1;
}

.modal-backdrop {
  z-index: 1050;
}

.modal {
  z-index: 1060;
}


